.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid {
  display: grid;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  border: 1px solid blue;
}

.cell {
  background-color: transparent;
  border: 1px solid #000;
  height: 100px;
  cursor: pointer;
  /* padding-bottom: 100%; */
}

.cell:hover {
  background-color: whitesmoke;
}

.cell-activated {
  background-color: green;
}